* {
    font-family: 'Nunito';
}

header {
    background-color: #84FFD3;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #5C5C5C;

    padding: 1em;
}

main {
    text-align: center;
    background: #E5E5E5;
    height: 100%;
}

section figure img {
    border-radius: 50%;
    width: 144px;
    height: 144px;
}

figure {
    padding: 64px;
}

figcaption {
    font-weight: 600;
    font-size: 20px;
    color: #5C5C5C;
}

ul {
    margin: 0 auto;
    width: 30%;
    list-style: none;
}

li {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0px 32px 0px 0px;
    padding: 19px 0;
    margin: 16px 0;
    font-weight: 600;
    font-size: 20px;
    

    list-style-type: none;
    
}

li a{
    text-decoration: none;
    color: #5C5C5C;
}